info:
    description: 查询凡高和文森特项目的开票、回款、成本情况
    title: 项目信息查询服务
    version: v1
openapi: 3.0.1
paths:
    /query/search:
        post:
            operationId: searchAndQuery
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                keyword:
                                    description: 项目关键词，如大连紫悦府
                                    type: string
                                queryType:
                                    description: 查询类型，invoice=开票，payment=回款，cost=成本
                                    type: string
                            type: object
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    type:
                                        description: 结果类型，single=唯一匹配，multiple=多个匹配，not_found=未找到
                                        type: string
                                    result:
                                        description: 格式化后的查询结果文本，type=single时返回
                                        type: string
                                    message:
                                        description: 提示信息，type=not_found时返回
                                        type: string
                                    project:
                                        description: 匹配到的项目信息，type=single时返回
                                        properties:
                                            id:
                                                type: string
                                            name:
                                                type: string
                                            fullName:
                                                type: string
                                            company:
                                                type: string
                                        type: object
                                    projects:
                                        description: 匹配到的项目列表，type=multiple时返回
                                        items:
                                            properties:
                                                id:
                                                    type: string
                                                name:
                                                    type: string
                                                fullName:
                                                    type: string
                                                company:
                                                    type: string
                                            type: object
                                        type: array
                                type: object
                    description: 查询成功
                default:
                    description: ""
            summary: 搜索项目并查询信息
    /query/detail:
        post:
            operationId: queryByProjectId
            requestBody:
                content:
                    application/json:
                        schema:
                            properties:
                                projectId:
                                    description: 项目ID，从搜索接口获取
                                    type: string
                                company:
                                    description: 所属公司，凡高或文森特
                                    type: string
                                queryType:
                                    description: 查询类型，invoice=开票，payment=回款，cost=成本
                                    type: string
                            type: object
            responses:
                "200":
                    content:
                        application/json:
                            schema:
                                properties:
                                    result:
                                        description: 格式化后的查询结果文本
                                        type: string
                                type: object
                    description: 查询成功
                default:
                    description: ""
            summary: 按项目ID精确查询
servers:
    - url: https://sd6sfgfrafnohot0pt020.apigateway-cn-beijing.volceapi.com



